body {
    font-family: 'Ubuntu', sans-serif;
}

.title-underline {
    width: 250px;
    height:5px;
    margin: 0 auto;
    background:#1ebba3 !important;
  }

#section1 {
    background: linear-gradient(rgba(14, 20, 16, 0.5),rgba(6, 27, 11, 0.9)), url(/Tesucha/images/agro1.jpg) center/cover no-repeat fixed;
    height: 110vh;
    
    /* margin-top:10px; */
}

/* NAVBAR */
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color:#040706;
}

#nav {
    background-color: rgb(27,140,54) !important;
}

#top-section {
    margin-top:150px !important;
}


@media only screen and (min-width:635px){
    #section1 {
        background: linear-gradient(rgba(14, 20, 16, 0.5),rgba(6, 27, 11, 0.9)), url(/Tesucha/images/agro1.jpg) center/cover no-repeat fixed;
        height:125vh;
    }
    #top-section {
        margin-top:80px !important;
    }
}

@media only screen and (max-width:570px){
    #top-section {
        margin-top: 80px !important;
    }
    #section1 {
        height:140vh;
        background: linear-gradient(rgba(14, 20, 16, 0.5),rgba(6, 27, 11, 0.9)), url(/Tesucha/images/agro1.jpg) center/center no-repeat fixed;
    }
}

/* iPhone 5 / 5s etc */
@media only screen and (max-width: 325px){
    body {
        width:110vw !important;
        text-align: center !important;
    }
    #section1 {
        height : 130vh !important;
        background: linear-gradient(rgba(14, 20, 16, 0.5),rgba(6, 27, 11, 0.9)), url(/Tesucha/images/agro1.jpg) center/cover no-repeat fixed;
    }
}

/* iPhone 6/7/8 X */
@media only screen and (max-width:375px){
    #section1 {
        background: linear-gradient(rgba(14, 20, 16, 0.5),rgba(6, 27, 11, 0.9)), url(/Tesucha/images/agro1.jpg) center/cover no-repeat fixed;
        height: 120vh !important;
    }
    #top-section {
        margin-top: 10px !important;
    }
}

/* Pixel 2 / iPhone 6p/7p/8p */
@media only screen and (max-width: 414px){
    #section1 {
        height: 100vh;
        background: linear-gradient(rgba(14, 20, 16, 0.5),rgba(6, 27, 11, 0.9)), url(/Tesucha/images/agro1.jpg) center/cover no-repeat fixed;
    }
    #top-section {
        margin-top: 115px !important;
    }
}

@media only screen and (max-width:720px){
    #section1 {
        height: 100vh !important;
        background: linear-gradient(rgba(14, 20, 16, 0.5),rgba(6, 27, 11, 0.9)), url(/Tesucha/images/agro1.jpg) center/center no-repeat fixed;
    }
    #top-section {
        margin-top:240px !important;
    }
}
@media only screen and (max-height:720px){
    #top-section {
        margin-top: 100px !important;
    }
    #section1 {
        height: 110vh;
        background: linear-gradient(rgba(14, 20, 16, 0.5),rgba(6, 27, 11, 0.9)), url(/Tesucha/images/agro1.jpg) center/cover no-repeat fixed;
    }
}
    
    
    
